html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#003D3D 60%,#097D54);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* التنسيق الأساسي للموبايل (الشاشات الصغيرة) */
div {
  display: flex;
  flex-direction: column;
  align-items: center; /* سنتر العناصر بدلاً من translate */
  color: #F1F1F1;
  font-weight: bold;
  font-size: 5vw; 
  font-family: serif;
  opacity: .9;
}

h1 {
  font-size: 15vw; /* الخط هيصغر تلقائياً على التليفون */
  font-weight: normal;
  font-family: Arial;
  margin: 0;
}

i {
  display: block;
  font-size: 20vw;
  color: #fff;
}

span, h6 {
  max-width: 100%;
  font-size: 7vw;
  margin: 0;
}

/* للشاشات المتوسطة (مثل التابلت) */
@media(min-width: 300px) and (max-width: 1019px){
  h1 { font-size: 80px; }
  i { font-size: 130px; }
  span, h6 { font-size: 40px; }
}

/* للشاشات الكبيرة (الكمبيوتر) */
@media(min-width: 1020px){
  div {
    transform: translate(40px,-50px);
  }
  h1 { font-size: 190px; }
  i { font-size: 280px; }
  span, h6 { font-size: 100px; }
}
