* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#058A46,#009BFF,#4F443A);display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* التنسيق الأساسي للموبايل (الشاشات الصغيرة) */
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: beige;
  font-weight: bold;
  font-size: 5vw;
  font-family: sans-serif;
  opacity: .9;
  max-width: 100%;
  word-wrap: break-word;
}

h1 {
  font-size: 15vw;
  font-weight: normal;
  font-family: Arial;
  margin: 0;
}

i {
  display: block;
  font-size: 20vw;
  color: #fff;
}

.p {
  max-width: 100%;
  font-size: 12vw;
  margin: 0;
  word-wrap: break-word;
}

.a {
  max-width: 100%;
  font-size: 6vw;
  margin: 0;
  padding: 2px;
  word-wrap: break-word;
}

/* للشاشات المتوسطة (مثل التابلت) */
@media(min-width: 300px) and (max-width: 1019px){
  h1 {
    font-size: 80px;
  }
  i {
    font-size: 130px;
  }
  .p {
    font-size: 40px;
  }
  .a {
    font-size: 20px;
  }
}

/* للشاشات الكبيرة (الكمبيوتر) */
@media(min-width: 1020px){
  div {
    transform: translate(40px,-50px);
  }
  h1 {
    font-size: 190px;
  }
  i {
    font-size: 320px;
  }
  .p {
    font-size: 70px;
  }
  .a {
    font-size: 50px;
  }
}
