* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#058A46,#009BFF,#4F443A);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div {
  font-size: 20px;
  font-weight: bold;
  font-family: serif;
}

.wait  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.wait  div {
  width: 20px;
  height: 20px;
  background: #E94A9D;
  border-radius: 50%;
  animation: wai infinite 1s;
  margin: 0 5px;
}

.one {
  animation-delay: 0s;
}

.two {
  animation-delay: .2s;
}

.three {
  animation-delay: .4s;
}


/* التنسيق الأساسي للموبايل (الشاشات الصغيرة) */
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: beige;
  font-weight: bold;
  font-size: 5vw;
  font-family: sans-serif;
  opacity: .9;
  max-width: 100%;
  word-wrap: break-word;
}

h1 {
  font-size: 15vw;
  font-weight: normal;
  font-family: Arial;
  margin: 0;
}

i {
  display: block;
  font-size: 20vw;
  color: #fff;
}

.p {
  max-width: 100%;
  font-size: 12vw;
  margin: 0;
  word-wrap: break-word;
}

.a {
  max-width: 100%;
  font-size: 6vw;
  margin: 0;
  padding: 2px;
  word-wrap: break-word;
}

/* للشاشات المتوسطة (مثل التابلت) */
@media(min-width: 300px) and (max-width: 1019px){
  h1 {
    font-size: 100px;
  }
  i {
    font-size: 120px;
  }
  .p {
    font-size: 60px;
  }
  .a {
    font-size: 40px;
  }
}

/* للشاشات الكبيرة (الكمبيوتر) */
@media(min-width: 1020px){
  div {
    transform: translate(40px,-50px);
  }
  h1 {
    font-size: 210px;
  }
  i {
    font-size: 330px;
  }
  .p {
    font-size: 90px;
  }
  .a {
    font-size: 70px;
  }
}

@keyframes wai {
  0% { opacity: 1; }
  25% { opacity: .3; }
  50% { opacity: .5; }
  75% { opacity: 1; }
  100% { opacity: 1; }
}
